<!-- Title Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- Block for displaying errors-->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!-- Message block for displaying flash messages -->
 <% messages() %>

 <!-- Main content display -->
 <div id="form">
  <form id="account-form" action="vehicleform" method="post">
    <label>Classification:<%- select %></label>
    <label>Make:<input type="text" id="inv_make" name="inv_make" required value="<%= locals.inv_make %>"></label>
    <label>Model:<input type="text" id="inv_model" name="inv_model" required value="<%= locals.inv_model %>"></label>
    <label>Description:<textarea id="inv_description" name="inv_description"  rows="4"><%= locals.inv_description %></textarea></label>
    <label>Year:<input type="number" id="inv_year" name="inv_year"  required value="<%= locals.inv_year %>"></label>
    <label>Image Path:<input type="text" id="inv_image" name="inv_image" required value="<%= locals.inv_image %>"
        placeholder="/images/vehicles/no-image.png"></label>
    <label>Thumbnail Path:<input type="text" id="inv_thumbnail" name="inv_thumbnail" required value="<%= locals.inv_thumbnail %>"
        placeholder="/images/vehicles/no-image.png"></label>
    <label>Price:<input type="number" id="inv_price" name="inv_price" step="1" required value="<%= locals.inv_price %>"></label>
    <label>Miles:<input type="number" id="inv_miles" name="inv_miles" step="1" required value="<%= locals.inv_miles %>"></label>
    <label>Color:<input type="text" id="inv_color" name="inv_color" required value="<%= locals.inv_color %>"></label>
      <input type="submit" value="Add New Vehicle">
  </form>
</div>