<!-- Title Heading -->
<% if (title) { %>
<h1><%= title %></h1>
<% } else {
  res.redirect('/')
} %>

<!-- Block for displaying errors-->
<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<!-- Message block for displaying flash messages -->
 <%- messages() %>

 <!-- Main content display -->
 <div id="form">
  <form id="account-form" action="/inv/remove" method="post">
    <label>Make:<input type="text" id="inv_make" name="inv_make" readonly value="<%= locals.inv_make %>"></label>
    <label>Model:<input type="text" id="inv_model" name="inv_model" readonly value="<%= locals.inv_model %>"></label>
    <label>Year:<input type="number" id="inv_year" name="inv_year"  readonly value="<%= locals.inv_year %>"></label>
    <label>Price:<input type="number" id="inv_price" name="inv_price" step="1" required value="<%= locals.inv_price %>"></label>
      <input id="button" type="submit" value="Delete Vehicle">
      <p>Confirm Deletion - The delete is permanent.</p>
      <input type="hidden" name="inv_id"
      <% if(locals.inv_id) { %> value="<%= locals.inv_id %>"
      <% } %>>
  </form>
</div>